<!-- footer Upper -->
  <div class="footer-upper">
    <div class="container">
      <div class="column">
        <h6>Explore</h6>
        <ul>
          <li><a href="/home/listings">Haunted Places</a></li>
          <li><a href="/plan">Plan Your Trip</a></li>
          <li><a href="/dark">Dark Tourism</a></li>
        </ul>
      </div>
      <div class="column">
        <h6>Community</h6>
        <ul>
          <li><a href="/forum">Dark Destinations Forum</a></li>
          <li><a href="/story">Travel Stories</a></li>
          <li><a href="/support">Support Center</a></li>
        </ul>
      </div>
      <div class="column">
        <h6>Company</h6>
        <ul>
          <li><a href="/about">About Us</a></li>
          <li><a href="/careers">Careers</a></li>
          <li><a href="/press">Press</a></li>
        </ul>
      </div>
      <div class="column">
        <h6>Legal</h6>
        <ul>
          <li><a href="/privacy">Privacy Policy</a></li>
          <li><a href="/terms">Terms & Conditions</a></li>
          <li><a href="/cookies">Cookie Policy</a></li>
        </ul>
      </div>
    </div>
  </div>

<footer class="airbnb-footer">
  <div class="container footer-container">
    <!-- Left -->
    <div class="footer-left">
      <p>&copy; <%= new Date().getFullYear() %> Dark->Destinations Pvt. Ltd.</p>
      <p>All fright reserved.</p>
    </div>

    <!-- Center -->
    <div class="footer-center">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
      <a href="/sitemap">Sitemap</a>
      <a href="/contact">Contact</a>
    </div>

    <!-- Right -->
    <div class="footer-right">
      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-youtube"></i></a>
    </div>
  </div>
</footer>
