body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/744/352/62/scary-grim-reaper-4k-skull-wallpaper-preview.jpg");
    background-size: cover;
}

.flash-success-color{
    background-color: rgba(161, 247, 161, 0.09) !important;
    backdrop-filter: blur(10px) !important;
    color: rgb(79, 168, 140) !important;
    border: solid 0.2px rgba(85, 245, 191, .4) !important;
}

.flash-error-color{
    background-color: rgba(247, 161, 161, 0.09) !important;
    backdrop-filter: blur(10px) !important;
    color: rgb(171, 77, 77) !important;
    border: solid 0.2px rgba(245, 85, 85, 0.4) !important;
}


.container {
    flex: 1;
}

/* .bi-box-arrow-right{
    background-color: #870101;
} */
/* 
.dropdown-btn{
    background-color: transparent !important;
    height: 50px;
    width: 70px;
    color: transparent !important;
    border: none !important;
}
.dropdown-icon{
    font-size: 27px;
    color: #5e5c5c;
}
.dropdown-menu{
    background-color: rgba(87, 44, 44, 0.1) !important;
    backdrop-filter: blur(80px) !important;
    border: solid 0.2px rgba(255, 83, 83, 0.4) !important;
}
.dropdown-item{
    color: rgb(248, 36, 36) !important;
    font-size: 17px;
} */

.H-show{
    color: #fbfafa;
}
.Rating-color{
    color: #cfcece;
}

.toggle-btn{
    font-size: 26px;
    color: #a80202 !important;
}
.navbar{
    height: 5.3rem;
    background-color: rgba(3, 0, 0, 0.7);
    backdrop-filter: blur(10px) !important;
    border-bottom: solid 1px rgb(61, 60, 60) ;
}
@media screen and (max-width: 992px) {
    #navbarNavAltMarkup{
    background-color: rgba(3, 0, 0, 0.9) !important;
    backdrop-filter: blur(60px) !important;
    padding: 20px;
    border-radius: 10px;
    }
}
/* .nav-link:active{
    color: #d91010 !important;
} */
.nav-link{
    font-weight: 500;
    font-size: 1.05rem !important;
    color: #7a7878 !important;
}
.fa-khanda {
    color:  #500101;
    font-size: 2.1rem;
    margin-left: .5rem;
    margin-right: .5rem;
    /* margin-bottom: .6rem; */
}

.pName{
    font-size: 23px;
    font-family: "Exile", system-ui;
    font-weight: 200;
    color: #870101;
    text-shadow: 2px 2px 30px rgb(119, 1, 1);
    -webkit-text-stroke: 1px black;
}

.nav-link:hover{
    color: rgb(218, 216, 216) !important;
    font-weight: 500;
}

.nav-link.active {
    color: rgb(218, 216, 216) !important;
    font-weight: 500;
}

/* footer Upper */
    .footer-upper {
        background-color: #141414;
        color: #eee;
        padding: 40px 20px;
        border-top: 1px solid #444;
        }
    .footer-upper .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .footer-upper .column {
      flex: 1;
      min-width: 200px;
      margin: 15px 0;
    }
    .footer-upper h6 {
      font-weight: 600;
      margin-bottom: 10px;
      color: #f8f8f8;
    }
    .footer-upper ul {
      list-style: none;
      padding: 0;
    }
    .footer-upper ul li {
      margin-bottom: 8px;
    }
    .footer-upper ul li a {
      color: #bbb;
      text-decoration: none;
    }
    .footer-upper ul li a:hover {
      text-decoration: underline;
      color: #fff;
    }

/* footer */
.airbnb-footer {
  background-color: rgba(216, 215, 215, 0.12);
  backdrop-filter: blur(10px) !important;
  color: #ccc;
  font-size: 14px;
  padding: 20px 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  border-top: 1px solid #282727;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.footer-left p {
  margin: 0;
  line-height: 1.6;
}

.footer-center {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.footer-center a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s;
}
.footer-center a:hover {
  color: #ff4d4d;
}

.footer-right a {
  margin-left: 15px;
  font-size: 18px;
  color: #ccc;
  transition: transform 0.3s, color 0.3s;
}
.footer-right a:hover {
  color: #ff4d4d;
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  .footer-right a {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* cards */
.heading h3{
    color: #fbfafa;
    font-family: "EB Garamond", serif;
    font-size: 40px;
    font-weight: 600;
}
.card{
    border: none !important;
    margin-bottom: 2rem;
    backdrop-filter: blur(2px) !important;
    background-color: transparent !important;
}

.card-img-top{
    border-radius: 0.7rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 5px !important;
    color: rgb(224, 223, 223) !important;
}

.card-text p {
    font-weight: 400 !important;
}

.price-color{
    color: #8e8d8d;
    font-size: .85rem;
}
.price-color b{
    color: white;
    font-size: 1rem;
}

.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}

.card img{
    width: 100%;
    transition: .6s ease;
}

.card:hover img{
    transform: scale(1.02);
}


.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
} 

/* Show Page  */
.show-img {
    height: 30vh;
}

.btns{
    display: flex;
}

.shoe-card{
    padding-left: 0;
    padding-right: 0;
}

.form-control{
    backdrop-filter: blur(50px) !important;
    background-color: transparent !important;
    color: #949393 !important;
    border: solid 1px #5c5c5c !important;
}

.form-color {
    color: rgb(125, 121, 121) !important;
}

.Create{
    color: rgb(149, 7, 7) !important;
}

.Section_top{
    width: 100%;
    height: 550px;
    overflow: hidden;
    position:relative;
    background-image: url(images/image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    /* text-align: center; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    animation: change 12s infinite ease-in-out;
    /* margin-bottom: 800px; */
}

@keyframes change{
    0%
    {
        background-image: url(images/img1.jpg);
    }
    20%
    {
        background-image: url(images/img2.jpg);
    }
    40%
    {
        background-image: url(images/img3.jpg);
    }
    60%
    {
        background-image: url(images/img4.jpg);
    }
    80%
    {
        background-image: url(images/img5.jpg);
    }
    100%
    {
        background-image: url(images/img6.jpg);
    }
}

/* .homeStyle{
    position: absolute;
    top: 300px;
    left: 100px;
} */

.s-con {
    display: flex;
    justify-content: center;
    align-items: center;
}
.s-con input {
    width: 400px;
    margin-right: 10px !important;
}
@media screen and (max-width: 678px){
    .s-con input {
        width: 200px;
    }
}

@media screen and (max-width: 400px){
    .pName {
        font-size: 19px;
        -webkit-text-stroke: 0.5px black;
    }
    .fa-khanda{
        font-size: 1.9rem;
    }

}

